In [1]:
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time

In [3]:
df = pd.read_csv('/Users/livialamers/Documents/GitHub/Spatial-data-science/data/datapoging2.csv',sep = ';', keep_default_na = True)

In [4]:
df.head()

,ID,WijkenEnBuurten,Gemeentenaam_1,SoortRegio_2,Codering_3,IndelingswijzigingWijkenEnBuurten_4,AfstandTotHuisartsenpraktijk_5,Binnen1Km_6,Binnen3Km_7,Binnen5Km_8,...,Binnen5Km_105,Binnen10Km_106,Binnen20Km_107,AfstandTotSauna_108,AfstandTotZonnebank_109,AfstandTotAttractie_110,Binnen10Km_111,Binnen20Km_112,Binnen50Km_113,AfstandTotBrandweerkazerne_114
0,1170,GM0363,Amsterdam,Gemeente,GM0363,3,0.6,3.0,28.3,67.4,...,5.5,11.7,18.2,2.5,2.0,3.2,5.3,13.8,61.4,2.1
1,1171,WK0363AA,Amsterdam,Wijk,WK0363AA,2,0.5,3.8,32.2,96.0,...,10.8,13.0,20.8,1.5,0.8,3.3,6.9,14.0,62.2,1.9
2,1172,BU0363AA01,Amsterdam,Buurt,BU0363AA01,2,0.8,3.8,30.8,87.8,...,11.0,13.0,20.7,1.9,0.4,3.7,6.6,15.0,63.0,1.7
3,1173,BU0363AA02,Amsterdam,Buurt,BU0363AA02,2,0.8,2.3,29.5,87.5,...,10.6,13.0,20.8,1.8,0.7,3.6,6.7,14.9,62.5,2.0
4,1174,BU0363AA03,Amsterdam,Buurt,BU0363AA03,2,0.2,2.0,28.8,92.9,...,10.7,13.0,20.4,1.5,1.3,3.2,7.0,10.7,61.7,2.4

In [5]:
df.isna().sum()

ID                                 0
WijkenEnBuurten                    0
Gemeentenaam_1                     0
SoortRegio_2                       0
Codering_3                         0
                                  ..
AfstandTotAttractie_110           41
Binnen10Km_111                    41
Binnen20Km_112                    41
Binnen50Km_113                    41
AfstandTotBrandweerkazerne_114    41
Length: 98, dtype: int64

In [6]:
cols_to_drop = [col for col in df.columns if col.startswith("Binnen")]
#cols_to_drop

In [7]:
df = df.drop(columns=cols_to_drop)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 628 entries, 0 to 627
Data columns (total 38 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ID                                      628 non-null    int64
 1   WijkenEnBuurten                         628 non-null    object
 2   Gemeentenaam_1                          628 non-null    object
 3   SoortRegio_2                            628 non-null    object
 4   Codering_3                              628 non-null    object
 5   IndelingswijzigingWijkenEnBuurten_4     628 non-null    int64
 6   AfstandTotHuisartsenpraktijk_5          587 non-null    float64
 7   AfstandTotHuisartsenpost_9              587 non-null    float64
 8   AfstandTotApotheek_10                   587 non-null    float64
 9   AfstandTotZiekenhuis_11                 587 non-null    float64
 10  AfstandTotZiekenhuis_15                 587 non-null    float64
 11  AfstandTotGroteSupermarkt_24            587 non-null    float64
 12  AfstandTotOvDagelLevensmiddelen_28      587 non-null    float64
 13  AfstandTotWarenhuis_32                  587 non-null    float64
 14  AfstandTotCafeED_36                     587 non-null    float64
 15  AfstandTotCafetariaED_40                587 non-null    float64
 16  AfstandTotRestaurant_44                 587 non-null    float64
 17  AfstandTotHotelED_48                    587 non-null    float64
 18  AfstandTotKinderdagverblijf_52          587 non-null    float64
 19  AfstandTotBuitenschoolseOpvang_56       587 non-null    float64
 20  AfstandTotSchool_60                     587 non-null    float64
 21  AfstandTotSchool_64                     587 non-null    float64
 22  AfstandTotSchool_68                     587 non-null    float64
 23  AfstandTotSchool_72                     587 non-null    float64
 24  AfstandTotOpritHoofdverkeersweg_89      587 non-null    float64
 25  AfstandTotTreinstationsTotaal_90        587 non-null    float64
 26  AfstandTotBelangrijkOverstapstation_91  587 non-null    float64
 27  AfstandTotBibliotheek_92                587 non-null    float64
 28  AfstandTotZwembad_93                    587 non-null    float64
 29  AfstandTotKunstijsbaan_94               587 non-null    float64
 30  AfstandTotMuseum_95                     587 non-null    float64
 31  AfstandTotPodiumkunstenTotaal_99        587 non-null    float64
 32  AfstandTotPoppodium_103                 587 non-null    float64
 33  AfstandTotBioscoop_104                  587 non-null    float64
 34  AfstandTotSauna_108                     587 non-null    float64
 35  AfstandTotZonnebank_109                 587 non-null    float64
 36  AfstandTotAttractie_110                 587 non-null    float64
 37  AfstandTotBrandweerkazerne_114          587 non-null    float64
dtypes: float64(32), int64(2), object(4)
memory usage: 186.6+ KB

In [2]:
df.

SyntaxError: invalid syntax (1625957470.py, line 1)